.custom-text-field:left-node-visible {
    -fx-padding: 8px 12px 8px 0;
}
.custom-text-field:left-node-visible .left-pane {
    -fx-padding: 0 4px 0 6px;
}
.custom-text-field:right-node-visible {
    -fx-padding: 8px 0 8px 12px;
}
.custom-text-field:right-node-visible .right-pane {
    -fx-padding: 0 6px 0 4px;
}
.custom-text-field:left-node-visible:right-node-visible {
    -fx-padding: 8px 0 8px 0;
}
.custom-text-field:success .font-icon, .custom-text-field:success .ikonli-font-icon {
    -fx-icon-color: -color-success-fg;
    -fx-fill: -color-success-fg;
}
.custom-text-field:danger .font-icon, .custom-text-field:danger .ikonli-font-icon {
    -fx-icon-color: -color-danger-fg;
    -fx-fill: -color-danger-fg;
}