* {
    -primary-color: #202124;
    -text-color: #bdc1c6;
}

.text-field, .text {
    -fx-font-size: 18;
}

.root {
    -fx-background-color: -primary-color;
}

.menu-bar {
    -fx-background-color: -primary-color;
}

.bit-vault-card {
    -fx-background-color: -primary-color;
}

.button, .button:focused {
    -fx-background-color: -primary-color;
    -fx-text-fill: -text-color;
}

.button:hover {
    -fx-background-color: #383838;
}

.text-field, .text-field:focused, .label {
    -fx-text-fill: -text-color;
}

.text-field, .button {
    -fx-border-color: -text-color;
}

.bit-vault-text-field-error {
    -fx-text-fill: #ad3030;
}

/**LIST VIEW SCROLL BAR**/
.bit-vault-list-view > .virtual-flow > .scroll-bar:vertical > .increment-button,
.bit-vault-list-view > .virtual-flow > .scroll-bar:vertical > .decrement-button,
.bit-vault-list-view > .virtual-flow > .scroll-bar:horizontal > .increment-button,
.bit-vault-list-view > .virtual-flow > .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: -primary-color;
}

.bit-vault-list-view > .virtual-flow > .scroll-bar:vertical > .increment-button > .increment-arrow,
.bit-vault-list-view > .virtual-flow > .scroll-bar:vertical > .decrement-button > .decrement-arrow,
.bit-vault-list-view > .virtual-flow > .scroll-bar:horizontal > .increment-button > .increment-arrow,
.bit-vault-list-view > .virtual-flow > .scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: -text-color;
}

.bit-vault-list-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.bit-vault-list-view > .virtual-flow > .scroll-bar:horizontal > .thumb {
    -fx-background-color: #131416;
}

/**LIST VIEW SCROLL BAR**/

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -primary-color;
}

.ikonli-font-icon {
    -fx-icon-color: -text-color;
}

.bit-vault-text-field,
.bit-vault-text-field:focused {
    -fx-background-color: -primary-color;
}

.date-picker > .date-picker-display-node,
.date-picker-popup .month-year-pane,
.date-picker-popup .month-year-pane .label,
.date-picker-popup .week-number-cell {
    -fx-background-color: -primary-color;
}

.date-picker-popup {
    -fx-border-color: transparent;
}